<div style="height: 100vh;">
    <mat-toolbar color="primary" class="navbar">
        <div fxShow="true" fxHide.gt-sm="true">
            <button (click)="sidenav.toggle()" mat-button><mat-icon>menu</mat-icon></button>
        </div>
      <span>Gabriel Kaszewski</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <button mat-icon-button (click)="goToPage('home')"><mat-icon>home</mat-icon></button>
        <button mat-icon-button (click)="goToPage('projects')"><mat-icon>assignment</mat-icon></button>
        <button mat-icon-button (click)="goToPage('contact')"><mat-icon>perm_contact_calendar</mat-icon></button>
      </div>
    </mat-toolbar>
  
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
            <button mat-icon-button (click)="goToPage('home')"><mat-icon>home</mat-icon></button>
            <button mat-icon-button (click)="goToPage('projects')"><mat-icon>assignment</mat-icon></button>
            <button mat-icon-button (click)="goToPage('contact')"><mat-icon>perm_contact_calendar</mat-icon></button>
            <button (click)="sidenav.toggle()" mat-button><mat-icon>close</mat-icon></button>
        </div>
      </mat-sidenav>
      <mat-sidenav-content fxFlexFill>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>