.post {
    min-width: 300px;
    max-width: 300px;
    width: 100%;
}

a, a:hover, a:visited, a:active, a:link {
    color: black;
}

.title {
    font-size: 24px;
}

.addButton {
    color: white;
}

.sidenav {
    width: 20%;
}

@media only screen and (max-width: 500px) {
    .sidenav {
        width: 60%;
    }
}

.category {
    min-width: 50%;
    max-width: 50%;
}

mat-sidenav-container {
    background-color: white;
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
