<div class="projects-page" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap=40px>
    <h1 display-1>My Projects</h1>
    <app-loader></app-loader>
    <div>
        <button mat-button (click)="accordion.openAll()">Expand All</button>
        <button mat-button (click)="accordion.closeAll()">Collapse All</button>
    </div>
    <div class="projects-section" fxLayout="column" fxLayout.xs="column wrap" fxLayoutGap=1rem>
        <mat-accordion multi class="accordion">
            <div *ngFor="let project of projects">
                <app-project title="{{project.name}}" technology="{{project.technology}}"
                    desc="{{project.shortDescription}}" longDescription="{{project.description}}"
                    githubUrl="{{project.githubUrl}}" downloadUrl="{{project.downloadUrl}}"
                    visitUrl="{{project.visitUrl}}" imgUrl="{{project.thumbnailUrl}}"></app-project>
            </div>
        </mat-accordion>
    </div>
</div>