.projects-section {
   width: 50%;
}

@media only screen and (max-width: 500px) { 
    .projects-section {
        width: 100%;
     }
}

.accordion {
    flex-basis: 0;
    justify-content: space-between;
    align-items: center;
}