<div clas="center" fxLayout="column" fxLayoutAlign="space-evenly center" fxLayoutGap=40px>
    <h1 display-1>My Projects</h1>
    <div class="projects-section" fxLayout="row wrap" fxLayoutAlign="space-evenly" fxLayoutGap="20px grid">
        <div *ngFor="let project of projects">
            <app-project title="{{project.name}}" technology="{{project.technology}}" desc="{{project.shortDescription}}"
            longDescription="{{project.description}}" githubUrl="{{project.githubUrl}}" downloadUrl="{{project.downloadUrl}}"
            visitUrl="{{project.visitUrl}}" imgUrl="{{project.thumbnailUrl}}"></app-project>
        </div>
    </div>
</div>