<mat-dialog-content>
    <mat-card class="project-card">
        <mat-card-header>
            <mat-card-title>{{data.title}}</mat-card-title>
            <mat-card-subtitle>{{data.tech}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content fxLayoutGap=10px>
            <img class="banner" mat-card-image src="{{data.imgUrl}}">
            <p>{{data.longDesc}}</p>
        </mat-card-content>
        <mat-card-actions>
           <button *ngIf="data.github" mat-raised-button color="primary" (click)="goToPage(data.githubUrl)">Github</button>
           <button *ngIf="data.download" mat-raised-button color="primary" (click)="goToPage(data.downloadUrl)">Download<mat-icon>get_app</mat-icon></button>
           <button *ngIf="data.visit" mat-raised-button color="primary" (click)="goToPage(data.visitUrl)">Visit</button>
        </mat-card-actions>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-icon-button color="primary" [mat-dialog-close]="true"><mat-icon>close</mat-icon></button>
</mat-dialog-actions>