<div fxLayout="column" fxLayout.xs="column wrap" fxLayoutGap=1rem fxLayoutAlign="none center">
    <p *ngIf="!auth.isAuth()">You must be logged in to add new trivias!</p>
    <div *ngIf="auth.isAuth()" class="create-panel">
        <mat-accordion multi class="trivia">
        <mat-expansion-panel [expanded]=true>
            <mat-expansion-panel-header>
              <mat-panel-title>Trivia</mat-panel-title>
            </mat-expansion-panel-header>
            <form #form="ngForm">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input required name="name" [(ngModel)]="data.name" matInput type="text">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Content</mat-label>
                    <textarea required cdkTextareaAutosize #autoSize="cdkTextareaAutosize"  name="content" [(ngModel)]="data.content" matInput type="text"></textarea>
                </mat-form-field>
                <button type="submit" mat-flat-button color="primary" (click)="addNewTrivia(); form.reset()">Add</button>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
    </div>
</div>