<div fxLayout="column" fxLayout.xs="column wrap" fxLayoutGap=1rem fxLayoutAlign="none center">
    <p *ngIf="!auth.isAuth()">You must be logged in to add new trivias!</p>
    <div *ngIf="auth.isAuth()" class="create-panel" fxLayout="column" fxLayout.xs="column wrap" fxLayoutGap=1rem>
        <h2 display-2>Upload trivia</h2>
        <app-trivia-editor></app-trivia-editor>
        <app-trivia-editor (addEvent)="removeTriviaPanel()" *ngFor="let i of triviaPanels"></app-trivia-editor>
        <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap=1rem>
            <button mat-icon-button color="primary" (click)="addNewTriviaPanel()"><mat-icon>add</mat-icon></button>
            <button mat-icon-button color="primary" (click)="removeTriviaPanel()"><mat-icon>remove</mat-icon></button>
        </div>
    <mat-divider></mat-divider>
    <h2 display-2>Upload multiple trivias</h2>
    <div fxLayout="column" fxLayout.xs="column wrap" fxLayoutGap=1rem>
        <form #form>
            <input #fileInput hidden required type="file" (change)="onFileChange($event)">
            <button type="button" mat-flat-button color="primary" (click)="fileInput.click(); form.reset()">Upload JSON file</button>
        </form>
        <div *ngIf="uploadedTrivias" fxLayout="column" fxLayout.xs="column wrap" fxLayoutGap=1rem>
            <app-trivia *ngFor="let trivia of triviasToAdd" [triva]="trivia"></app-trivia>
        </div>
        <button *ngIf="uploadedTrivias" mat-flat-button color="primary" (click)="addMultipleTrivias()">Add {{triviasToAdd.length}} trivias</button>
        </div>
    </div> 
</div>