<mat-expansion-panel class="project" [expanded]=true>
    <mat-expansion-panel-header>
      <mat-panel-title>{{title}}</mat-panel-title>
      <mat-panel-description>{{technology}}</mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{desc}}</p>
    <p>{{longDescription}}</p>
    <img class="thumbnail" *ngIf="imgUrl" mat-card-image src="{{imgUrl}}">
    <div fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap=1rem fxLayoutAlign="center">
        <button *ngIf="!longDescription&&githubUrl" mat-raised-button color="primary" (click)="goToPage(githubUrl)">Github</button>
        <button *ngIf="!longDescription&&downloadUrl" mat-raised-button color="primary" (click)="goToPage(downloadUrl)">Download<mat-icon>get_app</mat-icon></button>
        <button *ngIf="!longDescription&&visitUrl" mat-raised-button color="primary" (click)="goToPage(visitUrl)">Visit</button>
    </div>
</mat-expansion-panel>