<mat-card class="project-card" fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap=20px>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <mat-card-subtitle>{{technology}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img mat-card-image src="{{imgUrl}}">
        <p>{{desc}}</p>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-raised-button color="primary" (click)="openModal()">Read more</button>
    </mat-card-actions>
</mat-card>