.project {
    width: 100%;
    max-width: 100%;
}

.thumbnail {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    hyphens: auto;
    word-wrap: break-word;
    white-space: normal;
    text-align: justify;
}