<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap=1rem>
    <h1 display-1>Hello there!</h1>
    <div class="aboutme" fxLayout="column" fxLayoutAlign="none center">
        <h2 display-2>Who am I?</h2>
        <div fxLayout="column" fxLayoutAlign="none center" fxLayout.xs="column wrap">
            <p body-1>Hi, my name is Gabriel Kaszewski and I am a High School student right now.</p>
            <p body-1>I started coding when I was 11. I taught myself programming in C++.
                But now I am a different person than I was 7 years ago. Now I write my programs in various
                languages.
                Depends on the project if I make a game, I usually go with C# and Unity Engine, if I want to make a
                mobile app
                I go with Dart and Flutter framework, for GUI applications I choose C++ and QT. I love solving
                problems and
                I hope that I'll work in one of FAANG companies in the future. I am very passionate about Computer
                Science and
                after High School, I'm planning on studying it.
            </p>
        </div>
        <div fxLayout="column" fxLayoutAlign="none center">
            <h2 display-2>My skills</h2>
            <mat-list>
                <mat-list-item>Good knowlegde of C++, C#, Java, JavaScript, Python</mat-list-item>
                <mat-list-item>Unity, Django, Flutter, Angular</mat-list-item>
                <mat-list-item>Data Structures</mat-list-item>
                <mat-list-item>Object-oriented design</mat-list-item>
                <mat-list-item>Design patterns</mat-list-item>
                <mat-list-item>Git & Linux</mat-list-item>
                <mat-list-item>Fast learner</mat-list-item>
            </mat-list>
        </div>
        <div fxLayout="column" fxLayoutAlign="none center">
            <h2 display-2>My experience</h2>
            <p body-1>I got my first job in November 2019 as Unity Developer in Mobil Titans company.
                I have worked there until January 2020.</p>
        </div>
    </div>
</div>