.aboutme {
    margin-left: 10%;
    margin-right: 10%;
}
 
p {
    width: 50%;
    text-align: justify;
    text-justify: inter-word;
}

@media only screen and (max-width: 991px){
    /* CSS that should be displayed if width is equal to or less than 991px goes here */
    p {
        width: 100%;
    }
}