.center {
    padding-top: 1rem;
}

.projects-section {
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: stretch;
}

.about-section {
    margin-left: 300px;
    margin-right: 300px;
}